body{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}
.container{
    width: 450px;
    height: 250px;
    background-color: #1f1e1f7b;
    border-radius: 20px;
  
}
input{
    border: none;
    outline: none;
    background-color: #1f1e1f7b;
    width: 250px;
    padding: 10px;
    border: 10px;
    border-radius: 20px;
    color: white;
}